.fleet{
    .fleet__block{
        display: flex;
        margin-bottom: 112px;
        gap: 32px;
    }
    &__content{
        width:calc(50% - 16px);
        b{
            font-size: 48px;
            font-weight: 900;
            line-height: 70px;
            text-align: left;
            color: #0B132A;
            margin-bottom: 20px;
        }
        p{
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            text-align: left;
            color: #4F5665;
            margin-bottom: 50px;

        }
        
        a{
            width: 250px;
            padding: 17.5px 77.5px;
            height: 86px;
            line-height: 60px;
            text-transform: uppercase;
            text-decoration: none;
            background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
            background-size: 400%;
            border-radius: 30px;
            color: #ffff;
            &:hover{
                animation: animate 8s linear infinite;
            }
            @keyframes animate{
                0%{
                    background-position: 0%;
                }
                100%{
                    background-position:400%;
                }
            }
            
        }
        
    }
}

@media (max-width:750px) {
    .fleet{
        .fleet__block{
            display: flex;
            flex-direction: column;
        }
        &__content{
            width: 100%;
            
        }
    }
    
}